.form-login{
    max-width: 400px ;
    border: 1px solid #e9e9e9;
    border-radius: 15px;
    margin: 15% auto;
    box-shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
}
.form-login-link{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    margin-top:15px;
}
.btn-login{
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-login-link-item{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.login-chart{
    padding: 10% ;
}
.login-chart:first-child{
    padding: 0 auto;
    
}

